@{
    ViewData["Title"] = "About PatientAider";
}
<h2>@ViewData["Title"]</h2>
<img src="~/images/PA.jpg" class="pull-right shadow" height="400" />
<p>
    
    Our PatientAider app is available for free from the iOS App Store and from Google Play. Designed for effortless ease-of-use and with exclusive,
    clinically-curated content, PatientAider can be a valuable source of medical information for your upcoming hospital stay. PatientAider cuts
    through confusing medical jargon and gives you plain-English explanation of common items you may encounter (or to be watchful for!) while in
    the hospital, including:
</p>
<ul>
    <li>Communication strategies - Asking, listening and understanding.</li>
    <li>The most common medical errors made in hospitals.</li>
    <li>Helpful videos featuring clinical experts and links to additional medical information.</li>
    <li>Stress reduction techniques.</li>
</ul>
<p>If you or someone you love is heading to the hospital soon, make sure to download PatientAider. It will no doubt come in handy!</p>
