/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Nunito', sans-serif;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.greenGradient {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,85,121,1) 2%, rgba(0,212,255,1) 100%);
    color: white;
}

.navbar a:link {
    color: white;
}

.text-white {
    color: white !important;
}

.text-white a:link {
    color: white !important;
}

.pmsfWallpaper {
    background-image: url('../images/psmf-wallpaper.jpg');
}

.body-content {
    background-color: white;
}

.title {
    font-family: 'Nunito', sans-serif;
}

.fatHead {
    padding-top: 25px;
}

.sectionHeader {
    padding: 5px;
    background-color: lightblue;
}

.sectionTitle {
    max-width: 200px;
    font-size: 14pt;
}

.encounterTitle {
    font-size: 16pt;
}

.noBullet {
    list-style: none;
    list-style-type: none;
}

/* Styles for use with jquery-sortable plugin */
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul.example li.placeholder {
    position: relative;
    /** More li styles **/
}
ul.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}